/* CSS */
body {
  background-color: var(--bg-cool-color);
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
.button-container {
  margin-bottom: 12px;
}
.button-9 {
  appearance: button;
  backface-visibility: hidden;
  height: 30px;
  padding: 0 15px; 
  font-size: 80%; 
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 12px 0 0;
  margin-right: 10px;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.muokkaus-nappi {
  appearance: button;
  backface-visibility: hidden;
  height: 30px;
  padding: 0 15px; 
  font-size: 60%; 
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 80%;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 90px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.muokkaus-nappi:disabled {
  cursor: default;
}

.muokkaus-nappi:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

/* CSS */
.cool-input {
  position: relative;
  display: inline-block;
  width: 250px;
}

.cool-input input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: #f0f0f0;
  color: #333;
  font-size: 16px;
}

.cool-input input:focus {
  outline: none;
  background-color: #e0e0e0;
}

.cool-input input::placeholder {
  color: #888;
}
.table-container {
  max-height: 300px;
  overflow-y: auto;
}
.table {
  width: 1600px;
  border-collapse: collapse;
  margin: 0 auto;
  border-spacing: 30px;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  white-space: nowrap; /* Prevent cell content from wrapping */
  background-color: var(--table-color)
}

.table th {
  background-color: var(--table-th-color);
}

.table tr:hover {
  background-color: var(--table-th-color);
}

.table tr:nth-child(even) {
  background-color: #f7f7f7;
}

.muokkaa-cell {
  padding: 10px;
  width: 1%; /* Set width to shrink-to-fit content */
}

.muokkaa-button {
  display: block; /* Convert the button to a block element */
  margin: 0 auto; /* Center the button horizontally */
}

.cool-color-input {
  appearance: none;
  width: 60px;
  height: 30px;
  border: 2px solid black;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0;
  background-color: var(--cool-color);
}

.cool-color-input::-webkit-color-swatch-wrapper {
  padding: 0;
}

.cool-color-input::-webkit-color-swatch {
  border: none;
  padding: 0;
}

.color-input-container {
  display: flex;
}

.color-input-container > div {
  margin-right: 20px; /* Adjust the value to set the desired spacing */
}